#contact {
  min-height: 386px;
  margin-top: 10vh;
  padding-left: 14px;
  padding-right: 24px;
  display: flex;
  .btn-wrap {
    // background: yellow;
    width: 40px;
    display: flex;
    align-items: flex-start;
    span {
      writing-mode: vertical-rl;
      cursor: pointer;
      display: inline-block;
      position: relative;
    }
  }
  .conatct-display {
    width: 100%;
    // background: gray;
    text-align: left;
  }
}
