#contact-form {
  min-height: 386px;
  margin-top: 10vh;
  padding-left: 14px;
  padding-right: 18px;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  .desc {
    color: #898989;
    font-size: 10px;
    margin-top: 1px;
  }
  .btn-wrap {
    width: 40px;
    height: fit-content;
    display: flex;
    align-items: flex-start;

    .contact_rotate {
      writing-mode: vertical-rl;
      font-size: 11px;
      padding: 0px 3px;
      cursor: pointer;
    }
  }
}

#contact {
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  input,
  input:focus-visible,
  input:focus {
    width: 100%;
    border: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    padding: 5px 0px;
    font-size: 11px;
  }
  textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border: none;
    font-size: 11px;
  }
  input.has-text {
    text-decoration: underline;
  }
  textarea.has-text {
    text-decoration: underline;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }

  .btn-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px 0;
    .error {
      position: absolute;
      top: -10px;
      color: gray;
      font-size: 10px;
    }
    .btn:hover {
      font-weight: 700;
      text-decoration: underline;
    }
    .enter {
      text-align: center;
      align-self: center;
    }
  }
}

#location {
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  position: relative;
  img {
    width: 100%;
  }
}
