#home {
  display: flex;
  height: 100vh;

  .col {
    padding-top: 20px;
    width: calc(100% / 3);
    // background-color: yellow;
    // flex-grow: 1;
    overflow-y: scroll;
  }
  .mobile-view {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  #home {
    flex-direction: column;
    .col {
      width: 100%;
    }
    .desktop-view {
      display: none;
    }
    .mobile-view {
      display: block;
    }
  }
}
