$MAX_WIDTH: 1000px;

#home {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
  .logo {
    z-index: 20;
    position: absolute;
    left: 30px;
    top: -10px;
  }
  .col {
    padding-top: 20px;
    width: calc(100% / 3);
    // background-color: yellow;
    // flex-grow: 1;
    overflow-y: scroll;
  }
  // .mobile-view {
  //   display: none;
  // }
}

@media screen and (max-width: $MAX_WIDTH) {
  #home {
    flex-direction: column;
    .col {
      width: 100%;
      padding: 0;
      height: 100vh;
    }
    // .desktop-view {
    //   display: none;
    // }
    .mobile-info-wrap {
      position: fixed;
    }
    .mobile-view {
      position: absolute;
      // padding-top: 300px;
    }
    .fixed {
      position: fixed;
      top: 0;
      right: 0;
      // z-index: 1;
    }
  }
}
