$MAX_WIDTH: 1000px;

#home {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
  .logo {
    z-index: 99;
    position: absolute;
    left: 30px;
    top: -3px;
  }
  .col {
    padding-top: 20px;
    width: calc(100% / 3);
    overflow-y: scroll;
  }
}

@media screen and (max-width: $MAX_WIDTH) {
  #home {
    flex-direction: column;
    .col {
      width: 100%;
      padding: 0;
      height: 100vh;
    }
    .mobile-info-wrap {
      position: fixed;
    }
    .mobile-view {
      position: absolute;
    }
    .fixed {
      position: fixed;
      top: 0;
      right: 0;
      #btn-wrap {
        word-break: keep-all;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 30px;
        padding-right: 8px;
        .information-wrap {
          writing-mode: vertical-rl;
          text-transform: uppercase;
          letter-spacing: 0.03em;
          .rotate {
            text-align: initial;
            cursor: pointer;
          }
        }
        span {
          margin-left: 8px;
        }
      }
    }
    .mobile-contact {
      background: white;
    }
    .contact-wrap {
      width: 100%;
      position: relative;
      background-color: white;
      padding: 0 10px;
    }
  }
}
