#info {
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 14px;
  padding-right: 24px;
  a {
    text-decoration: none;
    color: black;
  }
  .underline {
    text-decoration: overline;
  }
  .information-wrap {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    .rotate {
      text-align: initial;
    }
  }
}

@media screen and (max-width: $MAX_WIDTH) {
  #info {
    padding-top: 20px;
    .copy-right {
      display: none;
    }
  }
}
