@import "./style/home.scss";
@import "./style/info.scss";
@import "./style/contact.scss";
@import "./style/homeGallery.scss";
@import "./style/layout.scss";
@import "./style/modal.scss";

.App {
  text-align: center;
  ::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 0;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
  }
}
