* {
  box-sizing: border-box;
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  // ::-webkit-scrollbar-thumb {
  //   background: #000;
  // }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000;
  }

  // background-color: gray;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
span,
a {
  font-size: 13px;
  font-weight: 500;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
